

ul {
    list-style-type: none;
	width:80%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #154360 ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #154360 }

.dropdown:hover .dropdown-content {
    display: block;
}

div.container {
    width: 100%;
    border: 1px solid gray;
	
}

header  {
    padding: 1em;
    color: red;
    background-color:#cccccc;
    clear: left;
    text-align: center;						
    text-decoration: underline;
    font-size: 150%;
	}

footer {
    padding: 1em;
    color: black;
    background-color: #cccccc;
    clear: left;
    text-align: center;						
    text-decoration: none;
    
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#154360  ;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111 ;
}

.active {
    background-color: #ECF0F1 ;
}

marquee {
	z-index:-999999;
}

.mySlides {display:none;}



